
*{
	padding: 0px;
	margin: 0px;
}
body{
	min-width: 425px;
	margin:auto;
}
.size{
	min-height: 50px;
}
.icon_size{ /*resize icons*/
	height: 20px;
	width: 20px;
}
.logo{
	  width: 100px;
	height: 25px;
}
.float-left{
	float: left;
}
.card-body{
	border:1px solid #ccc;
	border-radius: 55px;
}
.titles{
	font-size: 45px;

}
.txt-color p{
	color: blue;
}
.user-title{
	font-size: 35px;

}

.pages{/*hide pages*/
	display: none;
}
.active{
	display: block;
}
.form-control:focus {
        border-color: #F5BC25;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(255, 100, 255, 0.5);
}
.err{
	border:solid 5px #ff0000;
}
.center{
	text-align: center;
}
.footer-text{
	font-size: 13px;
}
.rounded-border{
	border:1px solid #ccc;
	border-radius: 100px;
}
.primary-color{
	background-color: #02497F;
}

.bg-color{
	background-color: #F0F0F0;/*Soft color*/
}
.txt-primary-color{
	color: #02497F;
}
.bg-rounded-lg{
	display: flex;
	align-items: center;
	height: 90px;
	width: 5px;
	border-radius:50px;
}
.icon-toggle{
		display: flex;
		justify-content: center;
	}
	@media screen and (max-width: 1199px){
	.bg-rounded-lg{
		height: 80px;
}
@media screen and (max-width: 991px){
	.bg-rounded-md{
	height: 60px;
	}
	.icon-toggle{
		display: flex;
		justify-content: center;
	}	
}
@media screen and (max-width: 767px){
	.bg-rounded-col{
		height: 45px;
		padding-top: 8px;
	}
	.icon-toggle{
		display: none;
	}	
}
@media screen and (max-width: 550px){
	.bg-rounded-col{
		height: 35px;
	}
		
}

@media screen and (max-width: 575px){
	section{
		padding:20px;
	}
}

	

