
*{
	padding: 0px;
	margin: 0px;
}
body{
	min-width: 500px;
	padding: 10px;
}

.icon_size{
	height: 20px;
	width: 20px;
}
.logo{
	  width: 100px;
	height: 25px;
}
.titles{
	font-size: 45px;

}
.txt-color p{
	color: blue;
}
.user-title{
	font-size: 35px;

}

.pages{
	display: none;

}
.active{
	display: block;
}
.form-control:focus {
        border-color: #F5BC25;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(255, 100, 255, 0.5);
}
.err{
	border:solid 5px #ff0000;
}
.center{
	text-align: center;
}
.card-body{
	border:1px solid #ccc;
	border-radius: 100px;
}
.primary-color{
	background-color: #02497F;
}

.bg-color{
	background-color: #F0F0F0;/*Soft color*/
}
.txt-primary-color{
	color: #02497F;
}
.bg-rounded-lg{
	display: flex;
	align-items: center;
	height: 77px;
	width: 10px;
	border-radius:50px;
}
.icon-toggle{
		display: flex;
		justify-content: center;
	}
@media screen and (max-width: 990px){
	.bg-rounded-md{
	height: 60px;
	}
	.icon-toggle{
		display: flex;
		justify-content: center;
	}	
}
@media screen and (max-width: 770px){
	.bg-rounded-col{
		height: 45px;
	}
	.icon-toggle{
		display: none;
	}	
}

